input{
    margin-left: 85dvh;
    padding: 10px;
    border-radius: 7px;
    border-top: 2px;
    border-left: 2px;
    margin-top: 7px;
    border-right: 2px;
    transition: 0.4s transform ease-in-out;
}
input:focus{
    outline: none;
    
}
input:hover{
    transform: scale(1.05);

}
h1{
    margin-left: 75dvh;
}

button:focus{
    outline: none;
}
button{
    border: none;
    color: black;
    background-color: rgb(8, 187, 20);
    margin-left: 90dvh;
    border-radius: 8px;
    transition: 0.4s transform ease-in-out;
    
}
button:hover{
    color: aliceblue;
    background-color: blue;
    transform: scale(1.04);
}
a{
    margin-left: 10px;
}